@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
body{
	font-family: 'Lato', sans-serif;
}

.legend-form{
  color: #fff;
}

.font-benefit{
	color: #f25c1d;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #c9040b;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #a00113;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #dd091f;
  border-color: #dd091f;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.paddtop50{
	padding-top: 50px;
}

.paddbot50{
	padding-bottom: 50px;
}

.full-width {
	width: 100%;
}

.form-horizontal .control-label{
	text-align: left;
	font-weight: normal;
}

.form-control:focus {
	border-color: #a00113;
	border-width: 2px;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 1, 19, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 1, 19, 0.6);
}

.body { 
	background: url('../images/bg3.png') no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-top: 120px;
	background-color: #f4f4f4;
}

.body1 { 
	padding-top: 120px;
	background-color: #001220;
}

.container{
	color: #fff;
}

.text-xxxlg{
	font-size: 42px;
}

.text-xxlg{
	font-size: 36px;
}

.text-xlg{
	font-size: 30px;
}

.text-lg{
	font-size: 24px;
}

.navbar {
	box-shadow: 0px 5px 15px rgba(136, 136, 136, .2);
	border-bottom: 0px; 
	padding: 15px;
	font-weight: bold;
}

.navbar-default{
	background-color: #fff;
}

.navbar-brand > img{
	margin-top: -10px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a00113;
    transition: ease-in-out 0.5s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #a00113;
}

.welcome {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	background: #ccc;
	padding: 10px 110px;
	margin-left: -100px;
	border-top-left-radius: 60px;
}

.top-10-bg{
	background: #c9040b;
	padding: 10px 50px;
}

.top-10{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #f25c1d;
	border-radius: 10px;

}

.home-img {
    max-width: 85%;
    margin: auto;
}

.home-img1 {
	max-width: 100%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.img-icon {
	max-width: 60px;
	height: auto;
	padding-bottom: 20px;
	padding-right: 5px;
	display: inline;
}

.section-img {
	padding-bottom: 100px;
}

.section-login {
	padding-top: 100px;
	padding-bottom: 50px;
}

.form-login { 
	font-weight: normal;
	color: #fff;
}

.btn-lg{
	font-size: 25px;
	padding: 5px;
	font-weight: bold;
	background-color: #dd091f;
}

.btn-md{
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	background-color: #dd091f;
}

.btn-sm{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	background-color: #dd091f;
}

.btn-lg:hover, .btn-md:hover, .btn-sm:hover{
	color: #dd091f;
	background-color: #fff;
	transition: ease-in-out 0.3s;
}

.btn-lg:focus, .btn-md:focus, .btn-sm:focus{
	color: #dd091f;
	background-color: #fff;
}

.login-section {

	text-align: left;
}


.table1{
	padding-top: 80px;
	
	color: black;
}
.td{
	background: #ffffff;
}

.input-search{
	width: 50%;
}

.konten-benefit{
    margin: 100px 150px 100px 80px;
    border-top: 1px solid rgba(221, 221, 221, 0);
}
.color-benafit{
	color: #f15c22;
}
.konten{
	padding-top: 80px;
}
.konten_TNA{
	padding-top: 0px;
	color: black;
}

.form-register {
	color: #777;
}

.well-lg {
	padding: 50px;
}

.form-register .control-label {
	font-weight: bold;
}

.form-reset {
	color: #777;
}

textarea {
    resize: none;
}

.alert-success, .alert-warning, .alert-danger, .alert-info{
	color: #fff;
  	background-color: #dd091f;
  	border-color: transparent;
  	border-radius: 0;
}

.table-field {
	color: #001220;
}

.table-lead{
	font-size: 10px;
}

thead th {
    background-color: #f25c1d;
    color: white;
}

/*Sidebar Menu*/
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  /*background-color: transparent;*/ }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
    .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block;
      border-left: 3px solid transparent;
      color: #fff; }
      .sidebar-menu > li > a > .fa {
        width: 30px; }
    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
      background: #153659;
      border-left-color: #f05e25; }
    .sidebar-menu > li .label,
    .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 14px;
    color: #fff;
    /*background: #1a2226;*/ }
  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
  .sidebar-menu li.active > .sidebar-submenu {
    display: block; }
  .sidebar-menu a {
    color: #fff;
    text-decoration: none; }
  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 5px;
    margin: 0 1px;
    /*background: #2c3b41;*/ }
    .sidebar-menu .sidebar-submenu .sidebar-submenu {
      padding-left: 20px; }
    .sidebar-menu .sidebar-submenu > li > a {
      padding: 5px 5px 5px 15px;
      display: block;
      font-size: 16px;
      color: #fff; }
      .sidebar-menu .sidebar-submenu > li > a > .fa {
        width: 30px; }
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-left,
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
        width: auto; }
    .sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
      color: #f05e25; }
/*End Sidebar Menu*/

.panel-form {
	color: #fff;
  	background-color: transparent;
  	border: 1px solid transparent;
  	border-radius: 0;
  	-webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.panel-form {
  margin-bottom: 20px;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
}
.panel-form-body {
  padding: 15px;
}
.panel-form-heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.context {
	font-size: 20px;
	font-weight: 300;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 0px 15px 0 rgba(255, 255, 255, 1);
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
    color: #111
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
